
body{
    background-color: rgb(240, 238, 111);  
  }
  botao{
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: spx;
  background: linear-gradient(to rigth);
  color: rgb(0, 0, 0);
  
  }
  h1{
   text-align: center;
   color: aliceblue;
  }